<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
<title>index</title>
<meta name="description" content="">
<meta name="keywords" content="">
<link rel="stylesheet" type="text/css" href="../static/src/css/bace.css">
<link rel="stylesheet" type="text/css" href="../static/src/js/lib/layui/css/layui.css">
<link rel="stylesheet" type="text/css" href="../static/src/css/public.css">
<link rel="stylesheet" type="text/css" href="../static/src/css/manage.css">
<link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>    
	<div id="header_m">
			<a href="#" class="logo">
				唯美民艺馆运营管理系统
			</a>
		    <span class="author">
              <span>q234234</span>,
              <span>退出</span>   
            </span>
	</div>
	<div class="clearfix mianWrap" >
        <div class="article_nav pull-left">
                <div class="title active">
                    <i class="fa fa-book"></i>
                    系统管理
                </div>
                <ul>
                    <li class="active">
                        <a href="/manage/noticelist">用户管理</a>
                    </li>
                    <li class="">
                        <a href="/manage/bannerlist">权限管理</a>
                    </li>
                    <li class="">
                        <a href="/manage/photolist">日志管理</a>
                    </li>
                </ul>
                <div class="title">
                    <i class="fa fa-book"></i>
                    资源管理
                </div>
                <ul>
                    <li class="">
                        <a href="/manage/cheatinfo">资源列表</a>
                    </li>
                     <li class="">
                        <a href="/manage/cheatinfo">资源统计</a>
                    </li>
                </ul>
                <div class="title">
                    <i class="fa fa-tags"></i>
                    市场管理
                </div>
                <ul>
                    <li class="">
                        <a href="/manage/activitylist">作品列表</a>
                    </li>
                     <li class="">
                        <a href="/manage/activitylist">作品管理</a>
                    </li>
                      <li class="">
                        <a href="/manage/activitylist">作品统计</a>
                    </li>
                </ul>
                <div class="title">
                    <i class="fa fa-cog" aria-hidden="true"></i>
                    传承人管理
                </div>
                   <ul>
                     <li class="">
                        <a href="/userManage/manageList">认证审核</a>
                    </li>
                    <li class="">
                        <a href="/userManage/manageList">传承人管理</a>
                    </li>
                 </ul>
                <div class="title">
                    <i class="fa fa-home"></i>
                    学校管理
                </div>
                    <ul>
                     <li class="">
                        <a href="/schoolManage/schoolManage">学校管理</a>
                    </li>
                                                        </ul>
                <div class="title">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    订阅管理
                </div>
                <ul>
                    <li class="">
                        <a href="/accountManage/baseInfo">订阅统计</a>
                    </li>
                 </ul>
                 <div class="title">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    推荐管理
                </div>
                <ul>
                    <li class="">
                        <a href="/accountManage/baseInfo">首页推荐</a>
                    </li>
                     <li class="">
                        <a href="/accountManage/baseInfo">传承与研究推荐</a>
                    </li>
                     <li class="">
                        <a href="/accountManage/baseInfo">订阅推荐</a>
                    </li>
                     <li class="">
                        <a href="/accountManage/baseInfo">市场推荐</a>
                    </li>
                 </ul>
            </div>
            <div id="content">  
            <div class="breadcrumb">
                  <span class="layui-breadcrumb">
                  <a href="">首页</a>
                  <a href="">国际新闻</a>
                  <a href="">亚太地区</a>
                  <a><cite>正文</cite></a>
                </span>
            </div>
            <div class="filter-g layui-form">
                <dl class="">
                    <dd>
                        <button class="layui-btn layui-btn-normal">添加</button>
                    </dd>
                    <dt>分类：</dt>
                        <dd class="type" >
                             <select name="type" id="grade" lay-filter="grade">
                                <option value="">全部</option>
                                <option value="xd001">小学</option>
                                <option value="xd002">初中</option>
                                <option value="xd003">高中</option>
                            </select>
                         </dd>
                         <dd>
                            <select name="sub" lay-filter="sub" id="sub">
                                <option value="">全部</option>
                            </select>
                        </dd>
                    <dd class="county clearer" style="width: 252px;">
                       <input type="text" name="" placeholder="快速搜索学校名称" class="layui-input" style="float: left; width: 200px;border-right: none;" id="inputText" autocomplete="off">
                        <button class="layui-btn layui-btn-primary" style="float: left;border-color: #D2D2D2" id="searchBt">
                              <i class="fa fa-search"></i>
                        </button>
                    </dd>
                </dl>
            </div>
            <div class="table_b">
                <table class="layui-table">
                    <thead>
                        <tr>
                            <th>序号</th>
                            <th>类型</th>
                            <th>创建时间</th>
                            <th>状态</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>001</td>
                            <td>风筝的历史沿革</td>
                            <td>2018.10.10</td>
                            <td>启用</td>
                            <td>
                                <a>删除</a>
                                <a>编辑</a>
                            </td>
                        </tr>
                         <tr>
                            <td>001</td>
                            <td>风筝的历史沿革</td>
                            <td>2018.10.10</td>
                            <td>启用</td>
                            <td>
                                <a>删除</a>
                                <a>编辑</a>
                            </td>
                        </tr>
                         <tr>
                            <td>001</td>
                            <td>风筝的历史沿革</td>
                            <td>2018.10.10</td>
                            <td>启用</td>
                            <td>
                                <a>删除</a>
                                <a>编辑</a>
                            </td>
                        </tr>
                         <tr>
                            <td>001</td>
                            <td>风筝的历史沿革</td>
                            <td>2018.10.10</td>
                            <td>启用</td>
                            <td>
                                <a>删除</a>
                                <a>编辑</a>
                            </td>
                        </tr>
                         <tr>
                            <td>001</td>
                            <td>风筝的历史沿革</td>
                            <td>2018.10.10</td>
                            <td>启用</td>
                            <td>
                                <a>删除</a>
                                <a>编辑</a>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>

            <div id="upload">
          
            <form class="layui-form upform" lay-filter="form">
               <div class="item clearfix" >
                  <div class="dt">
                     <span class="red">*</span>
                     课例标题：
                  </div>
                  <div class="dd">
                     <div class="input title">
                         <input type="text" class="layui-input" name="title" lay-verify="required" id="title" placeholder="不超过50字">
                     </div>
                      <div class="text tx">
                         标题格式为课程标题+姓名+学校（需标明所在市/州、区/县）；示例：《己亥杂诗》张三-武汉市武昌区xxxx小学
                      </div>
                  </div>
               </div>
                <div class="item clearfix">
                  <div class="dt">
                     <span class="red">*</span>
                     内容简介：
                  </div>
                  <div class="dd">
                     <div class="input">
                         <textarea class="layui-textarea" rows="5" name="content" id="content_are" lay-verify="required" maxlength="200" placeholder="不超过200字"></textarea>
                     </div>
                      <div class="text tx">
                         请简单介绍课例作品的主要教学内容、教学目标等
                      </div>
                  </div>
               </div>
               <div class="item clearfix">
                  <div class="dt">
                     <span class="red">*</span>
                     课程视频：
                  </div>
                  <div class="dd">
                     <div class="input" style="position: relative;">
                          <a class="layui-btn layui-btn-primary" id="upVideo" style="position: relative; z-index: 1;">上传视频</a>
                     <div id="html5_1dgtkm0451tn7teksm7tp2ei14_container" class="moxie-shim moxie-shim-html5" style="position: absolute; top: 0px; left: 0px; width: 94px; height: 38px; overflow: hidden; z-index: 0;"><input id="html5_1dgtkm0451tn7teksm7tp2ei14" type="file" style="font-size: 999px; opacity: 0; position: absolute; top: 0px; left: 0px; width: 100%; height: 100%;" multiple="" accept=".mp4"></div></div>
                     <div class="">
                        <div id="mp4list"><div class="vidoe_item uplist"><span class="mp4Namex">我的假期我做主</span> ( 46MB ) <b><span>100%</span></b><a href="javascript:void(0)" class="delx" data-id="62">删除</a><input type="hidden" class="vidoePath" value=""></div></div>
                     </div>
                  </div>
               </div>
                <div class="item clearfix">
                  <div class="dt">
                     <span class="white">*</span>
                     课例教案：
                  </div>
                  <div class="dd">
                     <div class="input" style="position: relative;">
                        <a class="layui-btn layui-btn-primary" id="upDoc" style="position: relative; z-index: 1;">上传文档</a>
                     <div id="html5_1dgtkm0471iq2gc81064klg1ki27_container" class="moxie-shim moxie-shim-html5" style="position: absolute; top: 0px; left: 0px; width: 94px; height: 38px; overflow: hidden; z-index: 0;"><input id="html5_1dgtkm0471iq2gc81064klg1ki27" type="file" style="font-size: 999px; opacity: 0; position: absolute; top: 0px; left: 0px; width: 100%; height: 100%;" multiple="" accept=".doc,.docx,.ppt,.pptx,.pdf,.zip,.rar"></div></div>
                     <div id="upDoc_list"></div>
                  </div>
               </div>
                 <div class="item clearfix">
                  <div class="dt">
                     <span class="white">*</span>
                      课例课件：
                  </div>
                  <div class="dd">
                     <div class="input" style="position: relative;">
                        <a class="layui-btn layui-btn-primary" id="upWrod" style="position: relative; z-index: 1;">上传文档</a>
                     <div id="html5_1dgtkm048fbd66916o91gj8137ma_container" class="moxie-shim moxie-shim-html5" style="position: absolute; top: 0px; left: 0px; width: 94px; height: 38px; overflow: hidden; z-index: 0;"><input id="html5_1dgtkm048fbd66916o91gj8137ma" type="file" style="font-size: 999px; opacity: 0; position: absolute; top: 0px; left: 0px; width: 100%; height: 100%;" multiple="" accept=".doc,.docx,.ppt,.pptx,.pdf,.zip,.rar"></div></div>
                     <div id="upWrod_list"></div>
                  </div>
               </div>
               <div class="item">
                   <div class="btnWrap">
                       <button class="layui-btn layui-btn-normal" lay-filter="form" lay-submit="">提交</button>
                   </div>
               </div>
            </form>

        </div>
            </div>
    </div>
	
    
<script src="../static/src/js/lib/require.js"></script>
<script type="text/javascript" src="../static/src/js/tools/re-config.js"></script>
<script type="text/javascript" src="../static/src/js/manage_user.js"></script>
</body>  
</html>