<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
<title>loading</title>
<meta name="description" content="">
<meta name="keywords" content="">
<link rel="stylesheet" type="text/css" href="/mySpace/static/src/style/reset.css">
<link rel="stylesheet" type="text/css" href="/mySpace/static/src/style/icons/icon.css">
<style type="text/css">
.dodoFace {
    background-color: #f0f0f0;
    border: 1px solid #cbcbcb;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    position: absolute;
    display: none;
    z-index: 1000;
    padding: 5px;
    margin-top: 25px;
}
</style>
</head>
<img src="/mySpace/static/src/img/test.jpg">
<span class="icon-delete-o"></span>
<body>    
</body>
<script src="../../static/src/js/lib/require.js"></script>
<script src="../../static/src/js/re-config.js"></script>
<script src="../../static/src/js/test.js"></script>
</html>