<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
<title>index</title>
<meta name="description" content="">
<meta name="keywords" content="">
<link rel="stylesheet" type="text/css" href="../../static/src/css/bace.css">
<link rel="stylesheet" type="text/css" href="../../static/src/css/public.css">
<link rel="stylesheet" type="text/css" href="../../static/src/css/index.css">
<link rel="stylesheet" href="http://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<style type="text/css">
.article .title {
  font-size: 17px;
  margin-bottom: 5px;
  color: #666;
}
.article .title i {
  margin-right: 5px;
}
.article ul {
  padding-left: 28px;
}
.article li a {
  display: block;
  height: 30px;
  line-height: 30px;
  font-size: 16px;
  cursor: pointer;
  color: #999999;
}
.article li a:hover {
  color: #1E9FFF;
  text-decoration: none;
}
.article li.active a {
  color: #1E9FFF;
}

</style>
<body>    
	<div class="container">
		<div class="article pull-left">
                <div class="title">
                    <i class="fa fa-book"></i>
                    资讯管理
                </div>
                <ul>
                    <li class=" active ">
                        <a href="/manage/noticelist">动态通知公告</a>
                    </li>
                    <li class="">
                        <a href="/manage/bannerlist">首页推荐</a>
                    </li>
                    <li class="">
                        <a href="/manage/photolist">首页照片推荐 </a>
                    </li>
                    <li class="">
                        <a href="/manage/resourcelist">资源推荐</a>
                    </li>
                </ul>
                <div class="title">
                    <i class="fa fa-book"></i>
                    可视化平台管理
                </div>
                <ul>
                    <li class="">
                        <a href="/manage/cheatinfo">平台数据管理</a>
                    </li>
                </ul>
                <div class="title">
                    <i class="fa fa-tags"></i>
                    活动管理
                </div>
                <ul>
                    <li class="">
                        <a href="/manage/activitylist">活动列表</a>
                    </li>
                </ul>
                                                <div class="title">
                    <i class="fa fa-cog" aria-hidden="true"></i>
                    用户管理
                </div>
                                <ul>
                                        <li class="">
                        <a href="/userManage/manageList">管理员管理</a>
                    </li>
                                                                                        <li class=""><a href="/userManage/cityUser">市/州管理员管理</a></li>
                        <li class=""><a href="/userManage/countyUser">区/县管理员管理</a></li>
                                                <li class=""><a href="/userManage/schoolUser">学校管理员管理</a></li>
                    
                                    </ul>
                                <div class="title">
                    <i class="fa fa-home"></i>
                    学校管理
                </div>
                                <ul>
                                        <li class="}">
                        <a href="/schoolManage/schoolManage">学校管理</a>
                    </li>
                                                        </ul>
                <div class="title">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    账号管理
                </div>
                <ul>
                    <li class="">
                        <a href="/accountManage/baseInfo">基本资料</a>
                    </li>
                                        <li class="">
                        <a href="/accountManage/passwd">修改密码</a>
                    </li>
                                    </ul>
            </div>
	</div>


<script src="/mySpace/static/src/js/lib/require.js"></script>
<script type="text/javascript" src="/mySpace/static/src/js/tools/re-config.js"></script>
<script type="text/javascript" src="/mySpace/static/src/js/index.js"></script>
</body>  
</html>